.game-board {
    text-align: center;
    box-shadow: 0 0 2px #000;
}

.field {
    display: table;
    border: 1px solid #666;
}

.field-row {
    display: table-row;
}

.field-cell {
    box-shadow: 0 0 2px #000;
    -moz-box-shadow: 0 0px #000;
    -webkit-box-shadow: 0 0px #000;
    display: table-cell;
    border: 1px solid #666;
    vertical-align: middle;
    background-color: #eee;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

.field-cell:hover {
    cursor: pointer;
    background-color: #aaa;
}

.field-cell-opened {
    box-shadow: inset 0 0 2px #666;
    -moz-box-shadow: inset 0 0 2px #666;
    -webkit-box-shadow: inset 0 0 2px #666;
    background: #ccc;
}

.marked-cell {
    color: crimson !important;
}

.mines1 {
    color: blue;
}

.mines2 {
    color: green;
}

.mines3 {
    color: red;
}

.mines4 {
    color: purple;
}

.mines5 {
    color: maroon;
}

.mines6 {
    color: cyan;
}

.mines7 {
    color: black;
}

.mines8 {
    color: grey;
}

.game-header {
    margin-bottom: 8px;
    white-space: nowrap;
    border: 2px solid #666;
    box-shadow: inset 0 0 2px #000;
    -moz-box-shadow: inset 0 0px #000;
    -webkit-box-shadow: inset 0 0px #000;
}

.game-header .moves-counter {
    display: inline-block;
    float: left;
}

.game-header .game-status-face {
    margin: auto;
    font-size: 44px;
    display: inline-block;
}

.game-header .game-timer {
    display: inline-block;
    white-space: normal;
    float: right;
}
